@font-face{
    font-family: 'American Typewriter';
    src: local('American Typewriter'),
    url('./americantypewriterstd-bold.otf');
}
@font-face{
    font-family: 'Quartz';
    src: local('Quartz'),
    url('./QuartzRegular.ttf');
}